@import url("https://fonts.googleapis.com/css?family=Montserrat:300.600");

body{
    background: rgb(245, 245, 245);
    font-family: 'Montserrat';
    align-self: center;
    color: #404041;
}

body *:focus{
    outline: 0;
}

.topBtn{
    display: block;
    float: left;
    font-size: 12pt;
    height: 32px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #00a8d8;
    color: #00A8D8;
    clear: both;
}

.topBtn:hover{
    background-color: #00a8d8;
    color: #fff;   
}

.logo{
    width: 250px;
    height: auto;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 24px;
}

.logo-row2{
    font-size: 18pt;
    -webkit-user-select: none;
    user-select: none;
}

#container{
    width: 92%;
    min-width: 275px;
    margin: 12px 0px;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
    flex: 1;    
}

#error{
    height: 40px;
    width: 80%;
    display: none;
    float: center;
    font-size: 16px;
    color: #ff4949;
    font-weight: 700;
    text-indent: 20px;
}

.grid-container-form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 24px;
    text-align: center;
    align-items: center;
}

.grid-container-form.log-hours{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(5, minmax(50px, 1fr));
}

.grid-container-form.new-form{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(6, minmax(50px, 1fr));
}

.input{
    font-size: 16pt;
}

.input-box, select{
    width: 70% !important;
    height: auto !important;
    padding: 12px !important;
    border: solid 1px #dad8d6 !important;
    border-radius: 6px !important;
    background-color: white;
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.new-width{
    width: 70% !important;
}

.closed{
    background: url('/assets/images/down_arrow.svg') no-repeat;
    background-position: right 5px bottom 9px;
}

.open{
    background: url('/assets/images/up_arrow.svg') no-repeat;
    background-position: right 5px bottom 11px;
}

.input.name{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.input.team.hours{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.input.date{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.input.hours{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.input.first{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.input.last{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.input.team.new{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.input.phone{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.input.email{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.submit{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

button{
    height: 48px;
    width: 220px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 16pt;
    border: none;
    border-radius: 30px;
    background-color: #00A8D8; 
    border: solid 1px #00a8d8;
    cursor: pointer;
}

#submitBtn:hover{
    background-color: #0094bd;
    border: solid 1px #0094bd;
}

#container.success{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    width: 3px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.8s;
    animation-name: slideIn;
    animation-duration: 0.8s
}

.linkBtn{
    margin: 32px 32px 32px 0px;
    text-align: center;
    position: relative;
    left: 16px;
    font-size: 16pt; 
    font-weight: 700;
    color: #00a8d8;
    cursor: pointer;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #f4f4f4;
    border: solid 1px #f4f4f4;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.8s; 
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.modal.dataErr{
    z-index: 2 !important;
}

#confirmation.modal{
    z-index: 3 !important;
}

@-webkit-keyframes slideIn {
    from {top: -600px; opacity: 0} 
    to {top: 50%; opacity: 1}
}

@keyframes slideIn {
    from {top: -600px; opacity: 0}
    to {top: 50%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#container.warn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    min-width: 250px !important;
    width: 3px;
    height: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.8s;
    animation-name: slideIn;
    animation-duration: 0.8s
}

#container.email{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    min-width: 400px;
    width: 400px;
    height: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.8s;
    animation-name: slideIn;
    animation-duration: 0.8s   
}

.warning-msg{
    font-weight: 900;
    font-size: 20pt;
}

.no-scan{
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-user-select: none;
    user-select: none;
}

.grid-container-tool{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 6px;
    text-align: center;
    align-items: center;
    grid-template-columns: 32px 75px 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, 1fr));
}

.mobile-category{
    grid-column: 3 / 7;
}

.mobile-query{
    grid-column: 1 / 6;
    grid-row : 2 / 3;
}

.tool input,
.tool select{
    width: 85% !important;
}

.tool p{
    font-size: 14pt;
    font-weight: 700;
}

.tool button{
    width: 140px;
}

.search-header{
    margin-bottom: 21px;
    text-align: center;
    font-weight: 700;
    font-size: 18pt;
}

.result{
    width: 92%;
    min-width: 275px;
    margin: 6px 0px;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
    flex: 1;
    font-size: 8pt;   
}

.result.red{
    background-color: rgba(255,0,0,0.1) !important;
}
.result.none{
    text-align: center;
    font-weight: 700;
}

.result.template{
    display: none;
}

.result td.small{
    width: 1%;
    white-space: nowrap;
    color: rgba(0,0,0,0.4);
}

.result td.center{
    text-align: center;
    width: 20%;
}

.result td i{
    color: rgba(0,0,0,0.5);
}

.result td.clickForInfo{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.3);
    width: 45%;
}

.result td.no-mobile{
    display: none;
}

#volunteerInfo p.title{
    font-weight: 700;
    font-size: 16pt;
}

#volunteerInfo p.info{
    font-size: 10pt;
}

.icon{
    width: 32px;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}
